In [1]:
from mysql.connector import connect, Error

In [3]:
conn = connect(host='localhost', database='salesdb', user='root', password='')
cursor = conn.cursor()

In [4]:
#2
sql2 = "select * from customers where country='brazil'"

In [10]:
cursor.execute(sql2)

In [11]:
#first row 
row = cursor.fetchone()

In [12]:
#Loop over the remaining resulf set
while row:
    print(row)
    row = cursor.fetchone()

(15, 'Pedro', 'Afonso', 'Sao Paulo', 'Brazil', '(11) 555-7647')
(21, 'Aria', 'Cruz', 'Sao Paulo', 'Brazil', '(11) 555-9857')
(31, 'André', 'Fonseca', 'Campinas', 'Brazil', '(11) 555-9482')
(34, 'Mario', 'Pontes', 'Rio de Janeiro', 'Brazil', '(21) 555-0091')
(61, 'Bernardo', 'Batista', 'Rio de Janeiro', 'Brazil', '(21) 555-4252')
(62, 'Lúcia', 'Carvalho', 'Sao Paulo', 'Brazil', '(11) 555-1189')
(67, 'Janete', 'Limeira', 'Rio de Janeiro', 'Brazil', '(21) 555-3412')
(81, 'Anabela', 'Domingues', 'Sao Paulo', 'Brazil', '(11) 555-2167')
(88, 'Paula', 'Parente', 'Resende', 'Brazil', '(14) 555-8122')

In [20]:
#3
sql3 = "select * from suppliers where fax is null"

In [16]:
cursor.execute(sql3)

In [17]:
#first row
row = cursor.fetchone()

In [18]:
while row:
    print(row)
    row = cursor.fetchone()

(1, 'Exotic Liquids', 'Charlotte Cooper', None, 'London', 'UK', '(171) 555-2222', None)
(2, 'New Orleans Ca6/Delights', 'Shelley Burke', None, 'New Orleans', 'USA', '(100) 555-4822', None)
(4, 'Tokyo Traders', 'Yoshi Nagase', None, 'Tokyo', 'Japan', '(03) 3555-5011', None)
(5, "Cooperativa de Quesos 'Las Cabras'", 'Antonio del Valle Saavedra', None, 'Oviedo', 'Spain', '(98) 598 76 54', None)
(6, "Mayumi's", 'Mayumi Ohno', None, 'Osaka', 'Japan', '(06) 431-7877', None)
(8, 'Specialty Biscuits, Ltd.', 'Peter Wilson', None, 'Manchester', 'UK', '(161) 555-4448', None)
(10, 'Refrescos Americanas LTDA', 'Carlos Diaz', None, 'Sao Paulo', 'Brazil', '(11) 555 4640', None)
(11, 'Heli Süßwaren GmbH & Co. KG', 'Petra Winkler', None, 'Berlin', 'Germany', '(010) 9984510', None)
(12, 'Plutzer Lebensmittelgroßmärkte AG', 'Martin Bein', None, 'Frankfurt', 'Germany', '(069) 992755', None)
(15, 'Norske Meierier', 'Beate Vileid', None, 'Sandvika', 'Norway', '(0);2-953010', None)
(16, 'Bigfoot Breweries', 'Cheryl Saylor', None, 'Bend', 'USA', '(503) 555-9931', None)
(17, 'Svensk Sjöföda AB', 'Michael Björn', None, 'Stockholm', 'Sweden', '08-123 45 67', None)
(20, 'Leka Trading', 'Chandra Leka', None, 'Singapore', 'Singapore', '555-8787', None)
(23, 'Karkki Oy', 'Anne Heikkonen', None, 'Lappeenranta', 'Finland', '(953) 10956', None)
(25, 'Ma Maison', 'Jean-Guy Lauzon', None, 'Montréal', 'Canada', '(514) 555-9022', None)
(27, 'Escargots Nouveaux', 'Marie Delamare', None, 'Montceau', 'France', '85.57.00.07', None)

In [21]:
#4
sql4="select * from products where UnitPrice between 30 and 60"

In [22]:
cursor.execute(sql4)

In [23]:
#first row
row = cursor.fetchone()

In [24]:
while row:
    print(row)
    row = cursor.fetchone()

(7, "Uncle Bob's Organic Dried Pears", 3, Decimal('30'), '12 - 1 lb pkgs.', 0)
(8, 'Northwoods Cranberry Sauce', 3, Decimal('40'), '12 - 12 oz jars', 0)
(10, 'Ikura', 4, Decimal('31'), '12 - 200 ml jars', 0)
(12, 'Queso Manchego La Pastora', 5, Decimal('38'), '10 - 500 g pkgs.', 0)
(17, 'Alice Mutton', 7, Decimal('39'), '20 - 1 kg tins', 1)
(26, 'Gumbär Gummibärchen', 11, Decimal('31'), '100 - 250 g bags', 0)
(27, 'Schoggi Schokolade', 11, Decimal('44'), '100 - 100 g pieces', 0)
(28, 'Rössle Sauerkraut', 12, Decimal('46'), '25 - 825 g cans', 1)
(32, 'Mascarpone Fabioli', 14, Decimal('32'), '24 - 200 g pkgs.', 0)
(43, 'Ipoh Coffee', 20, Decimal('46'), '16 - 500 g tins', 0)
(51, 'Manjimup Dried Apples', 24, Decimal('53'), '50 - 300 g pkgs.', 0)
(53, 'Perth Pasties', 24, Decimal('33'), '48 pieces', 1)
(56, 'Gnocchi di nonna Alice', 26, Decimal('38'), '24 - 250 g pkgs.', 0)
(59, 'Raclette Courdavault', 28, Decimal('55'), '5 kg pkg.', 0)
(60, 'Camembert Pierrot', 28, Decimal('34'), '15 - 300 g rounds', 0)
(62, 'Tarte au sucre', 29, Decimal('49'), '48 pies', 0)
(63, 'Vegie-spread', 7, Decimal('44'), '15 - 625 g jars', 0)
(64, 'Wimmers gute Semmelknödel', 12, Decimal('33'), '20 bags x 4 pieces', 0)
(69, 'Gudbrandsdalsost', 15, Decimal('36'), '10 kg pkg.', 0)
(72, 'Mozzarella di Giovanni', 14, Decimal('35'), '24 - 200 g pkgs.', 0)