In [6]:
from mysql.connector import connect, Error

In [7]:
db= connect(host='localhost',database='salesdb2',user='root',password='',port='3308')
cursor=db.cursor()

In [8]:
Cus="""create table customers  (id int primary key,
                                Lastname varchar(40) not null, 
                                Fisrtname varchar(40) not null,
                                city varchar(40), 
                                country varchar(40),
                                phone varchar(20))"""
Sup="""create table Suppliers  (id int primary key,
                                companyname varchar(40) not null, 
                                contactname varchar(50) not null,
                                contacttitle varchar(40), 
                                city varchar(40),
                                country varchar(40),
                                phone varchar(30),
                                fax varchar(30))"""
Pro="""create table products  (id int primary key,
                                productname varchar(50) not null, 
                                supplierid int not null,
                                unitprice decimal, 
                                package varchar(30),
                                isdiscontinued bit)"""
Ord="""create table orders  (id int primary key,
                                Orderdate datetime not null, 
                                Ordernumber varchar(10) not null,
                                customerId int not null, 
                                totalamount decimal)"""
Ode="""create table orderitems  (id int primary key,
                                Orderid int not null, 
                                productid int not null,
                                unitprice decimal, 
                                quantity int)"""

In [11]:
queries=[Cus,Sup,Pro,Ord,Ode]
try:
    result = cursor.execute(';'.join(queries),multi=True)
    result.send(None)
except Exception as er:
    print('Lá»—i: ', er)

In [ ]:
cursor.execute(Cus)

In [ ]:
cursor.execute(Ode)

In [10]:
db.commit()