In [1]:
from mysql.connector import connect

In [2]:
# Tạo kết nối
connection = connect(host='localhost', database='salesdb', user='root', password='', port='3308')

In [3]:
#tạo cursor
cursor = connection.cursor()

In [4]:
#Thực thi câu truy vấn
sql = "SELECT * FROM customers where City = 'London'"
cursor.execute(sql)

In [5]:
#xuất kết quả
for row in cursor:
    print(row)

(4, 'Thomas', 'Hardy', 'London', 'UK', '(171) 555-7788')
(11, 'Victoria', 'Ashworth', 'London', 'UK', '(171) 555-1212')
(16, 'Elizabeth', 'Brown', 'London', 'UK', '(171) 555-2282')
(19, 'Ann', 'Devon', 'London', 'UK', '(171) 555-0297')
(53, 'Simon', 'Crowther', 'London', 'UK', '(171) 555-7733')
(72, 'Hari', 'Kumar', 'London', 'UK', '(171) 555-1717')

In [2]:
cursor.close()
connection.close()

NameError: name 'connection' is not defined