In [1]:
import ibm_db

In [5]:
chuoi_ket_noi='DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=nsd23966;PWD=pjv9lhws;'
cnn = ibm_db.connect(chuoi_ket_noi,'','')

In [8]:
sql = """
create Table TestTable2(
    id int primary key not null,
    Name varchar(30)
)
"""
ibm_db.exec_immediate(cnn, sql)

In [10]:
sql = """
insert into TestTable2 values(1, 'John'),(2, 'Mark')
"""
ibm_db.exec_immediate(cnn, sql)

In [16]:
sql = "select * from TestTable2"
results = ibm_db.exec_immediate(cnn, sql)

In [17]:
dic = ibm_db.fetch_both(results)
while dic != False:
    print(dic)
    dic = ibm_db.fetch_both(results)

{'ID': 1, 0: 1, 'NAME': 'John', 1: 'John'}
{'ID': 2, 0: 2, 'NAME': 'Mark', 1: 'Mark'}

In [19]:
sql = "select * from TestTable2"
results = ibm_db.exec_immediate(cnn, sql)
tup = ibm_db.fetch_tuple(results)
while tup != False:
    print(tup)
    tup = ibm_db.fetch_tuple(results)

(1, 'John')
(2, 'Mark')

In [20]:
sql = "select * from TestTable2"
results = ibm_db.exec_immediate(cnn, sql)
dic = ibm_db.fetch_assoc(results)
while dic != False:
    print(dic)
    dic = ibm_db.fetch_assoc(results)

{'ID': 1, 'NAME': 'John'}
{'ID': 2, 'NAME': 'Mark'}

In [23]:
sql = "select * from TestTable2"
results = ibm_db.exec_immediate(cnn, sql)
while ibm_db.fetch_row(results) != False:
    print(ibm_db.result(results, 'ID'),',',ibm_db.result(results, 'NAME'))

1 , John
2 , Mark

In [14]:
sql = "Select * from TestTable2 where Name = ?"
stmt = ibm_db.prepare(cnn, sql)
ibm_db.bind_param(stmt, 1, 'Mark')
results = ibm_db.execute(stmt)

In [26]:
import ibm_db_dbi
import pandas as pd

In [25]:
pCon = ibm_db_dbi.Connection(cnn)

In [29]:
df = pd.read_sql("select * from TestTable2", pCon)
df

   ID  NAME
0   1  John
1   2  Mark