In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://nsd23966:pjv9l0hws@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: nsd23966@BLUDB'

In [3]:
%%sql
create Table TestTable3(
    id int primary key not null,
    Name varchar(30)
)

 * ibm_db_sa://nsd23966:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

In [4]:
%%sql
select * 
From TestTable2

 * ibm_db_sa://nsd23966:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(1, 'John'), (2, 'Mark')]

In [6]:
result = %sql select * From TestTable2
result

 * ibm_db_sa://nsd23966:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(1, 'John'), (2, 'Mark')]

In [7]:
%%sql result <<
select * 
From TestTable2

 * ibm_db_sa://nsd23966:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.
Returning data to local variable result

In [8]:
result

[(1, 'John'), (2, 'Mark')]