In [1]:
from mysql.connector import connect

In [12]:
# Tạo kết nối
connection = connect(host='localhost', database='salesdb', user='root', password='', port='3308')
#tạo cursor
cursor = connection.cursor()

In [13]:
#tạo câu lệnh truy vấn
sql = "Select * from Customers where city = 'London' limit 5"

In [14]:
result = cursor.execute(sql)

In [15]:
print(cursor.fetchmany(3))

[(4, 'Thomas', 'Hardy', 'London', 'UK', '(171) 555-7788'), (11, 'Victoria', 'Ashworth', 'London', 'UK', '(171) 555-1212'), (16, 'Elizabeth', 'Brown', 'London', 'UK', '(171) 555-2282')]

In [16]:
print(cursor.fetchmany(4))

[(19, 'Ann', 'Devon', 'London', 'UK', '(171) 555-0297'), (53, 'Simon', 'Crowther', 'London', 'UK', '(171) 555-7733')]

In [17]:
print(cursor.fetchmany(2))

[]

In [18]:
print(cursor.column_names)

('Id', 'FirstName', 'LastName', 'City', 'Country', 'Phone')

In [19]:
print(cursor.with_rows)

True

In [20]:
print(cursor.description)

[('Id', 3, None, None, None, None, 0, 20483), ('FirstName', 253, None, None, None, None, 0, 4097), ('LastName', 253, None, None, None, None, 0, 4097), ('City', 253, None, None, None, None, 1, 0), ('Country', 253, None, None, None, None, 1, 0), ('Phone', 253, None, None, None, None, 1, 0)]

In [21]:
print(cursor.statement)

Select * from Customers where city = 'London' limit 5

In [22]:
print(cursor.rowcount)

5