In [1]:
from mysql.connector import connect

In [2]:
# Tạo kết nối
connection = connect(host='localhost', database='salesdb', user='root', password='', port='3308')

In [3]:
#tạo cursor
cursor = connection.cursor()

In [4]:
# Tạo câu lệnh truy vấn
sql = "SELECT * FROM customers where City = %s; SELECT * FROM products where SupplierId = 1;"
sql

'SELECT * FROM customers where City = %s; SELECT * FROM products where SupplierId = 1;'

In [5]:
sql1 = "SELECT * FROM customers where City = %s limit %s"
sql2 = "SELECT * FROM products where SupplierId = 1"
lst_sql = [sql1, sql2]
sql = ';'.join(lst_sql)

In [6]:
city = input('Nhập Tên thành phố: ')
sodong = eval(input('Số dòng: '))
data = (city, sodong)

Nhập Tên thành phố: London
Số dòng: 4

In [7]:
result = cursor.execute(sql, data, multi=True)

for kq in result:
    print(kq)
    for row in kq:
        print(row)

MySQLCursor: SELECT * FROM customers where City = 'Lo..
(4, 'Thomas', 'Hardy', 'London', 'UK', '(171) 555-7788')
(11, 'Victoria', 'Ashworth', 'London', 'UK', '(171) 555-1212')
(16, 'Elizabeth', 'Brown', 'London', 'UK', '(171) 555-2282')
(19, 'Ann', 'Devon', 'London', 'UK', '(171) 555-0297')
MySQLCursor: SELECT * FROM products where SupplierId ..
(1, 'Chai', 1, Decimal('18.00'), '10 boxes x 20 bags', 0)
(2, 'Chang', 1, Decimal('19.00'), '24 - 12 oz bottles', 0)
(3, 'Aniseed Syrup', 1, Decimal('10.00'), '12 - 550 ml bottles', 0)