In [1]:
from mysql.connector import connect, Error

In [2]:
connection = connect(host='localhost', database='salesdb', user='root', password='', port='3306')

In [3]:
cursor = connection.cursor()

In [4]:
connection

In [5]:
sql = """
    create table Customers(
        Id int auto_increment not null primary key,
        Firstname varchar(40) not null,
        Lastname varchar(40) not null,
        City varchar(40),
        Country varchar(40),
        Phone varchar(20));    
    create table Suppliers(
        Id int auto_increment not null primary key,
        CompanyName varchar(40) not null,
        ContactName varchar(50) not null,
        ContactTitle varchar(40),
        City varchar(40),
        Country varchar(40),
        Phone varchar(30),
        Fax varchar(30));    
    create table Products(
        Id int auto_increment not null primary key,
        ProductName varchar(50),
        SupplierId int not null, 
        foreign key (SupplierId) references Suppliers(Id),
        UnitPrice decimal,
        Package varchar(30),
        IsDiscontinued bit);    
    create table Orders(
        Id int not null primary key,
        OrderDate datetime not null,
        OrderNumber varchar(10) not null, 
        CustomerID int not null, 
        foreign key (CustomerID) references Customers(Id),
        TotalAmount Decimal);    
    create table OrderItems(
        Id int not null primary key,
        OrderID int not null, 
        foreign key (OrderID) references Orders(Id),
        ProductId int not null, 
        foreign key (ProductId) references Products(Id),
        UnitPrice decimal,
        Quantity int
    )
"""

In [6]:
try:
    result = cursor.execute(sql, multi=True)
    result.send(None)
except Exception as er:
    print('Lỗi: ',er)
else:
    connection.commit()

Lỗi:  1050 (42S01): Table 'customers' already exists