# Bài ôn tập buổi 8

## Breast cancer
#### Sử dụng tập dữ liệu ung thư, một vấn đề phân loại nhiều lớp rất nổi tiếng. Số liệu này được tính toán từ một hình ảnh số hóa của FNA về ung thư vú. Chúng mô tả các đặc điểm của nhân tế bào có trong hình ảnh.

#### Dữ liệu này có hai loại: ác tính (1- có hại) và lành tính (0 - không có hại). Ta có thể xây dựng một mô hình để phân loại loại ung thư.

In [1]:
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
# Read the data
data <- read.csv(url)
head(data)

  X1000025 X5 X1 X1.1 X1.2 X2 X1.3 X3 X1.4 X1.5 X2.1
1 1002945  5   4  4   5    7  10   3  2    1    2
2 1015425  3   1  1   1    2  2    3  1    1    2
3 1016277  6   8  8   1    3  4    3  7    1    2
4 1017023  4   1  1   3    2  1    3  1    1    2
5 1017122  8  10 10   8    7  10   9  7    1    4
6 1018099  1   1  1   1    2  10   3  1    1    2

In [2]:
#Change the column headings
data <- read.csv(file = url, header = FALSE,
                col.names = c("id","CT", "UCSize", "UCShape", "MA", "SECS", "BN", "BC", "NN","M", "diagnosis") )

data$outcome[data$diagnosis==4] = 1
data$outcome[data$diagnosis==2] = 0
data$outcome = as.integer(data$outcome)
head(data)

  id      CT UCSize UCShape MA SECS BN BC NN M diagnosis outcome
1 1000025 5   1      1      1  2    1  3  1  1 2         0
2 1002945 5   4      4      5  7    10 3  2  1 2         0
3 1015425 3   1      1      1  2    2  3  1  1 2         0
4 1016277 6   8      8      1  3    4  3  7  1 2         0
5 1017023 4   1      1      3  2    1  3  1  1 2         0
6 1017122 8  10     10      8  7    10 9  7  1 4         1

In [3]:
data = data[,c(-1,-11)]

In [4]:
head(data)

  CT UCSize UCShape MA SECS BN BC NN M outcome
1 5   1      1      1  2    1  3  1  1 0
2 5   4      4      5  7    10 3  2  1 0
3 3   1      1      1  2    2  3  1  1 0
4 6   8      8      1  3    4  3  7  1 0
5 4   1      1      3  2    1  3  1  1 0
6 8  10     10      8  7    10 9  7  1 1

In [5]:
write.csv(data, 'breast_cancer.csv')