In [1]:
library(httr)
library('jsonlite')

In [2]:
# doc noi dung tu internet
URL = 'http://phuong13021982.pythonanywhere.com/mystore/product_service/'
getURL = GET(URL)
content = rawToChar(getURL$content)
json = fromJSON(content)
Tivis = data.frame(json)
print(class(Tivis))
# bo cot description
Tivis$description = NULL
print(Tivis)

[1] "data.frame"
   pk                     name      fee                            image
1   2           Asanzo 50 inch  9000000 images/asanzo_4k_50_11690000.jpg
2  11 Dell Vostro V3568 XF6C61 11999000           images/Dell_vostro.jpg
3  12   Macbook Air 2017 MQD32 18990000             images/MacbooAir.jpg
4   3        Panasonic 40 inch  6590000 images/panansonic_40_6590000.jpg
5   5          Samsung 32 inch  5999000    images/samsung_32_5990000.jpg
6   9  Samsung Galaxy J2 Prime  2690000          images/SamsungPrime.jpg
7   6            Sharp 45 inch  7490000      images/sharp_45_7490000.jpg
8   7             Sony 48 inch 11599000      images/sony_48_11599000.png
9   4             Sony 55 inch 20590000      images/sony_55_20590000.jpg
10  8              TCL 55 inch  9900000        images/tcl_55_9900000.jpg
11  1          Toshiba 32 inch  4590000     images/toshiba32_4590000.jpg
12 10  iPad WiFi 32GB New 2018  8390000     images/iPad_Samsung_Wifi.jpg

In [3]:
# ghi noi dung nay vao tap tin tivi.json
Tivis_json = toJSON(Tivis)
write(Tivis_json, file='Cung cap buoi 5/Du_lieu/Binh_tivis_new.json')

In [4]:
# Give the input file name to the fucntion
result = fromJSON(txt='Cung cap buoi 5/Du_lieu/Binh_tivis_new.json')
# Print the result
print('json data read from file:')
data = data.frame(result)
data

[1] "json data read from file:"

   pk name                     fee      image
1   2 Asanzo 50 inch            9000000 images/asanzo_4k_50_11690000.jpg
2  11 Dell Vostro V3568 XF6C61 11999000 images/Dell_vostro.jpg
3  12 Macbook Air 2017 MQD32   18990000 images/MacbooAir.jpg
4   3 Panasonic 40 inch         6590000 images/panansonic_40_6590000.jpg
5   5 Samsung 32 inch           5999000 images/samsung_32_5990000.jpg
6   9 Samsung Galaxy J2 Prime   2690000 images/SamsungPrime.jpg
7   6 Sharp 45 inch             7490000 images/sharp_45_7490000.jpg
8   7 Sony 48 inch             11599000 images/sony_48_11599000.png
9   4 Sony 55 inch             20590000 images/sony_55_20590000.jpg
10  8 TCL 55 inch               9900000 images/tcl_55_9900000.jpg
11  1 Toshiba 32 inch           4590000 images/toshiba32_4590000.jpg
12 10 iPad WiFi 32GB New 2018   8390000 images/iPad_Samsung_Wifi.jpg