In [2]:
# tao data frame tu state.abb, state.area, state.division, state.name, state.reg
# row names la ten cua states
df = data.frame(state.abb, state.area, state.division, state.region, 
               row.names=state.name)
print('Data frame:')
print(head(df))

[1] "Data frame:"
           state.abb state.area     state.division state.region
Alabama           AL      51609 East South Central        South
Alaska            AK     589757            Pacific         West
Arizona           AZ     113909           Mountain         West
Arkansas          AR      53104 West South Central        South
California        CA     158693            Pacific         West
Colorado          CO     104247           Mountain         West

In [3]:
# doi ten tat ca cac cot chi chua 3 ky tu sau dau '.'
colnames(df) = substr(colnames(df), 7, 9)
# sau khi doi ten
print('After rename:')
print(head(df))

[1] "After rename:"
           abb    are                div   reg
Alabama     AL  51609 East South Central South
Alaska      AK 589757            Pacific  West
Arizona     AZ 113909           Mountain  West
Arkansas    AR  53104 West South Central South
California  CA 158693            Pacific  West
Colorado    CO 104247           Mountain  West

In [4]:
# tao data frame chua state.x77 va du lieu moi tao
df_new = cbind(state.x77, df)
print('New data frame:')
print(head(df_new))

[1] "New data frame:"
           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766
           abb    are                div   reg
Alabama     AL  51609 East South Central South
Alaska      AK 589757            Pacific  West
Arizona     AZ 113909           Mountain  West
Arkansas    AR  53104 West South Central South
California  CA 158693            Pacific  West
Colorado    CO 104247           Mountain  West

In [5]:
# loai bo cot div
df_new$div = NULL
# tiep tuc loai bo cac cot Life Exp, HS Grad, Frost, abb, va are
df_new  = subset(df_new, select = -c(4,6,7,9,10))
print('After drop div, Life Exp, HS Grad, Frost, abb, and are:')
print(head(df_new))

[1] "After drop div, Life Exp, HS Grad, Frost, abb, and are:"
           Population Income Illiteracy Murder   Area   reg
Alabama          3615   3624        2.1   15.1  50708 South
Alaska            365   6315        1.5   11.3 566432  West
Arizona          2212   4530        1.8    7.8 113417  West
Arkansas         2110   3378        1.9   10.1  51945 South
California      21198   5114        1.1   10.3 156361  West
Colorado         2541   4884        0.7    6.8 103766  West

In [6]:
# them cot phan loai mu chu Illiteracy.Levels voi mo ta sau: <1 low, <2 Some, con lai la High
df_new$Illiteracy.Levels = ifelse(df_new$Illiteracy>=0 &
                                 df_new$Illiteracy<1,
                                 'Low',
                                 ifelse(df_new$Illiteracy >= 1
                                       & df_new$Illiteracy < 2,
                                       'Some',
                                       'High'))
print('After insert Illiteracy.Levels:')
print(head(df_new))

[1] "After insert Illiteracy.Levels:"
           Population Income Illiteracy Murder   Area   reg Illiteracy.Levels
Alabama          3615   3624        2.1   15.1  50708 South              High
Alaska            365   6315        1.5   11.3 566432  West              Some
Arizona          2212   4530        1.8    7.8 113417  West              Some
Arkansas         2110   3378        1.9   10.1  51945 South              Some
California      21198   5114        1.1   10.3 156361  West              Some
Colorado         2541   4884        0.7    6.8 103766  West               Low

In [7]:
# cho biet co bao nhieu vung va la nhung vung nao?
print(paste('Number of Regions:', nlevels(df_new$reg),'. There are:',
           toString(levels(df_new$reg))))

[1] "Number of Regions: 4 . There are: Northeast, South, North Central, West"