In [1]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.3     v dplyr   1.0.2
v tidyr   1.1.1     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
data = read.csv('Obesity_data.csv')
print(head(data))

  id gender height weight  bmi age  bmc  bmd   fat  lean pcfat
1  1      F    150     49 21.8  53 1312 0.88 17802 28600  37.3
2  2      M    165     52 19.1  65 1309 0.84  8381 40229  16.8
3  3      F    157     57 23.1  64 1230 0.84 19221 36057  34.0
4  4      F    156     53 21.8  56 1171 0.80 17472 33094  33.8
5  5      M    160     51 19.9  54 1681 0.98  7336 40621  14.8
6  6      F    153     47 20.1  52 1358 0.91 14904 30068  32.2

In [3]:
# c1
data1 = data %>% select(c(2,3,4,5,6))
print(head(data1))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [4]:
# c2
data1 = data %>% select(gender, height, weight, bmi, age)
head(data1)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [5]:
data2 = data1 %>% filter(bmi>=18.5, bmi<=24.9)
print(head(data2))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [6]:
print(paste('Rows have bmi>=18.5 and <= 24.9: ', nrow(data2)))

[1] "Rows have bmi>=18.5 and <= 24.9:  865"

In [7]:
data1 = mutate(data1, height_m = height/100)
head(data1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [8]:
head(arrange(data1,bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [9]:
group = group_by(data1,gender)
summary = summarize(group, 
                   count = n(),
                   mean.height = mean(height, na.rm= T),
                   mean.weight = mean(weight, na.rm = T))

`summarise()` ungrouping output (override with `.groups` argument)

In [10]:
summary

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [11]:
count(data1, gender)

  gender n
1 F      862
2 M      355

In [12]:
group_gender_age = count(data1, gender, age)
head(group_gender_age)

  gender age n
1 F      14   4
2 F      16   2
3 F      18  10
4 F      19  27
5 F      20  13
6 F      21   8

In [13]:
tail(group_gender_age)

    gender age n
138 M      82  1
139 M      83  1
140 M      84  3
141 M      85  1
142 M      87  1
143 M      88  1

In [14]:
data3 = data1 %>% sample_n(10)

In [15]:
data3

   gender height weight bmi  age height_m
1  F      158    60     24.0 19  1.58
2  F      158    45     18.0 25  1.58
3  F      139    39     20.2 34  1.39
4  M      162    61     23.2 43  1.62
5  M      158    67     26.8 55  1.58
6  F      153    45     19.2 42  1.53
7  M      162    60     22.9 83  1.62
8  F      159    56     22.2 56  1.59
9  M      162    58     22.1 20  1.62
10 F      164    67     24.9 18  1.64

In [16]:
data4 = data %>% sample_frac(0.01) #1 percentages

In [17]:
data4

   id   gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1   381 M      148    76     34.7 40  2395 1.12 20187 52455 26.9
2   131 F      157    60     24.3 49  1991 1.10 25422 35195 40.6
3   636 F      159    68     26.9 47  1956 1.05 26846 39237 39.5
4   264 F      150    53     23.6 48  1530 0.98 21317 28738 41.3
5   308 F      153    48     20.5 55  1461 0.97 14635 27176 33.8
6  1076 M      160    48     18.8 63  1962 1.12  8805 36293 18.7
7    84 F      152    41     17.7 40  1430 0.95 14430 24687 35.6
8  1151 F      162    72     27.4 52  1810 0.97 26962 41834 38.2
9   395 F      151    50     21.9 41  1936 1.13 14589 32963 29.5
10  372 M      162    73     27.8 39  2424 1.19 21768 47936 30.2
11  816 M      162    59     22.5 84  2370 1.22 15149 39330 26.6
12  167 F      150    59     26.2 60  1441 0.94 26762 29464 46.4